<h1>Who We Are</h1><br />
<p><strong>Dr. Harry Hueston</strong> is a retired chief of police with thirty years of experience in law enforcement in various higher education institutions, the U.S. Army, and the managing various national and international security events.  Currently he is a Professor in Criminal Justice at West Texas A&M University.</p><br /> 

<p><strong>Dr. Amy Andersen</strong> is currently the department head for education at West Texas A&M University. She has been a professor for 16 years and a teacher and reading specialist at the elementary school level for 9 years.</p> 
<p>Harry and Amy have been educating students, faculty, staff, and administrators in various public schools, community colleges, and universities in the United States about the evolving issues of school violence over the past seven years. They combine education with their practical experience to provide their audience with realistic approaches when dealing with and solving the various types of school violence and related problems facing educators today.
</p><br />
