	<h1>Home</h1>
<h2>
	Welcome to A&H Consultants!</h2>
		<p>
		</p>
			<p>
		
<%= image_tag("images/home_kids2.png", :align => 'right') %>    
	</p>
	
<p>	A person with a gun has entered into your lobby area.  What are you going to do?</p><br />

<p>	Shots from an armed robbery are hitting your school. How would you handle this situation?</p><br />

<p>	A police officer has just come to you and told you to lockdown your school. Are your teachers prepared?</p><br />
<p>	Issues of violence, harassment, cybercrimes, and terrorism are confronting students, teachers, and administrators on a daily basis and change rapidly with changing technologies. </p><br />
<p>	Our goal through these courses is to provide the educational tools to handle and solve these types of issues educators are facing on a regular basis.  We believe that education with practical applications can help prevent or solve these issues and by learning together we can save lives.</p><br />
	
	

<%= link_to "Sign Up Now!", signup_path, :class => "signup_button round " %>
