<h1>Introduction to School Safety</h1><br />

<p>
<strong>Description:</strong><br />
Our first course is designed to introduce educators to the reality of school violence.  The course will investigate some surprising facts related to school violence and where it occurs as well as the realities of an actual active shooter incident. Statistics indicate some surprising factors in regards to where school violence occurs related to location, size, and income levels.  The course also includes some ideas about how to prevent verbal abuse in the classroom from escalating to physical violence and threats. The course will provide the educator with some simple steps in defusing a verbal assault through practical applications.  The practical applications will help the user to understand how and why the tactics work. This glimpse into school violence also includes a preview of other courses on specific areas of concern.  
</p>

<p>
<strong>Preview:</strong></p>

<h2>
Cost: TBD - Comming Soon!
</h2>
